@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans';
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

::selection {
    color: white;
    background-color: #C1AC7E;
}

header {
    height: 13vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 5vw;
    position: absolute;
    z-index: 2;
    width: 100vw;
    transition: background-color 0.4s ease-in-out;
}

.h-menu {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a39169;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sapare{
    display: none;
}
/* header.scrolled{
    background-color: black;
} */
.logo {
    width: 130px;
}

.logo img {
    width: 100%;
}

.anchors {
    display: flex;
    gap: 2em;
}

.anchors a {
    font-size: 1.1vw;
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    letter-spacing: 1px;
}

.anchors a:hover {
    color: #e7c680;
}

.anchors a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: #C1AC7E;
    transition: 0.5s;
}

.anchors a:hover::before {
    width: 100%;
}

.sign-up {
    background: #C1AC7E;
    padding: .5vw 1vw;
    border-radius: 25px;
    color: white;
    font-weight: 500;
}

.sign-up:hover {
    background: transparent;
    color: #C1AC7E;
    cursor: pointer;
    border: 1px solid #C1AC7E;
    transition: .5s;
}

.sign-up i {
    font-weight: 900;
}

.carousel-item .d-block {
    width: 100%;
    height: 90vh;
}

.carousel {
    position: relative;
}

.carousel-caption h5 {
    margin-bottom: 20vh;
    color: whitesmoke;
    text-shadow: 0px 0px 25px black;
    font-weight: 500;
    opacity: 0;
    font-family: 'Times New Roman', Times, serif;
    animation: moveup 1.5s ease-in-out .5s forwards;
}

@keyframes moveup {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(-70%);
        opacity: 1;
        font-size: 5vw;
    }
}

.room-heading {
    padding: 0 5vw;
    margin-top: 48px;
}

.room-heading h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    letter-spacing: 2px;
    font-weight: 550;
    color: #C1AC7E;
    position: relative;
}

.room-heading h2:hover {
    color: #e7c680;
}

.room-heading h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: #C1AC7E;
    transition: 0.5s;
}

.room-heading h2:hover::before {
    width: 100%;
}

.room1-a {
    width: 350px;
    height: 450px;
    position: relative;
    left: 0px;
    top: 50px;
    border-radius: 10px;
}

.room1-b {
    width: 350px;
    height: 450px;
    position: relative;
    z-index: -1;
    top: 100px;
    left: -140px;
    border-radius: 10px;
}

.room1-heading {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    margin: 2vw 0vw 2vw 13vw;
    line-height: 5vw;
    letter-spacing: 2px;
    color: #C1AC7E;
}

.room1-para {
    padding: 0 0vw;
    line-height: 2vw;
    font-size: 1.3vw;
    margin-left: 12vw;
    margin-right: 0vw;
    color: rgba(0, 0, 0, 0.555);
}

.ani-1 {
    margin-top: 7vw;
}

.deluxe-row {
    margin-top: 17vw;
    margin-bottom: 6vw;
}

.deluxe-col {
    padding: 8vw 0 0 10vw;
}

.room2-heading {
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    line-height: 5vw;
    letter-spacing: 2px;
    color: #C1AC7E;
}

.room2-para {
    line-height: 2vw;
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 0.555);
}

.room2-a {
    width: 750px;
    height: 650px;
    position: relative;
    border-radius: 10px;
    z-index: -1;
    left: 90px;
}

.room2-b {
    width: 450px;
    height: 300px;
    position: relative;
    top: 200px;
    left: -140px;
    border-radius: 10px;
}

.my-banner {
    background-image: url("/assets/banner.jpg");
    background-attachment: fixed;
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
}

.doubletree-heading-1 {
    margin-top: 15vw;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    letter-spacing: 3px;
    font-weight: 600;
}

.doubletree-para {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
}

.doubletree-heading-2 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    font-weight: 600;
}

.amenities-heading {
    padding: 0 5vw;
}

.amenities-heading h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    letter-spacing: 2px;
    font-weight: 550;
    color: #C1AC7E;
    position: relative;
}

.amenities-heading h2:hover {
    color: #e7c680;
}

.amenities-heading h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: #C1AC7E;
    transition: 0.5s;
}

.amenities-heading h2:hover::before {
    width: 100%;
}

.section-1 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-1 img {
    width: 30%;
}

.section-1:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.section-2 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-2 img {
    width: 30%;
}

.section-2:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.section-3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-3 img {
    width: 30%;
}

.section-3:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.section-4 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-4 img {
    width: 30%;
}

.section-4:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.section-5 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-5 img {
    width: 30%;
}

.section-5:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.section-6 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 373.40px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw 3vw;
    gap: 1em;
    margin-top: 4vw;
    transition: .5s ease;
}

.section-6 img {
    width: 30%;
}

.section-6:hover {
    border: 1px solid black;
    transform: translateY(-15px);
    transition: .5s ease;
}

.doubletree-animation {
    position: relative;
}

.doubletree-animation h3 {
    position: absolute;
    color: #C1AC7E;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 7vw;
    margin-left: 45vw;
}

.doubletree-animation h3:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #C1AC7E;
}

.doubletree-animation h3:nth-child(2) {
    color: #C1AC7E;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0 49%, 16% 51%, 34% 57%, 49% 62%, 66% 61%, 83% 56%, 100% 55%, 99% 99%, 1% 99%);
    }

    50% {
        clip-path: polygon(0 63%, 19% 67%, 38% 66%, 50% 59%, 69% 51%, 88% 51%, 100% 53%, 99% 99%, 1% 99%);
    }
}

.request {
    margin-top: 16vw;
}

.request-col {
    text-align: center;
    padding: 5vw 0;
    background: #E0E0E0;
}

.request-col h5 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.request-col h5 a {
    color: #d3ad5c;
    text-decoration: none;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.late{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30% ;
}